/* sp */

body {
    font-family: 'Montserrat', sans-serif;
    color: #212C43
}

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 30px
}

h5 {
    font-size: 18px;
    color: rgba(33, 44, 67, 0.6);
    font-weight: 600;

}

p {
    font-weight: 600;
    font-size: 16px
}
a {
    color: rgba(33, 44, 67);
    text-decoration: none;
}

button {
    display: block;
    width: 200px;
    height: 50px;
    background: #7A9E24;
    border-radius: 50px;
    border: 0;
    color: #FAFCFE;
    transition: all 0.5s ease;
    box-shadow: 1px 1px 10px -5px black;
}

button:hover {
    background: #9FC033;
    outline: none;
}
button:focus {
    outline: 0;
    }
hr {
    border: none;
    border-top: 2px dashed #7A9E24;
    color: #fff;
    background-color: #fff;
    height: 2px;
    width: 80%;
}
.hide {
    display: none;
}

.show {
    display: block;
}




header,
footer {
    background: rgba(33, 44, 67, 0.8);
}

.header__info {
    background: #212C43;
    padding-top: 10px;
}


.phone::before {
    content: url(../img/svg/phone.svg)
}

.insta:before {
    content: url(../img/svg/insta.svg)
}
.phone, .insta {
    text-align: right;
}

.phone a,
.insta a {
    color: #FAFCFE;
    font-weight: 600;
    transition: all 0.5s ease;

}
.phone a:hover,
.insta a:hover {
    color: #7A9E24;
    text-decoration: none;
}

.menu__login button:hover {
    text-decoration: none;
}
.menu__items {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    /* transition: all 0.5s ease; */

}

.menu__item a {
    font-size: 14px;
    color: #FAFCFE;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.5s ease;
}
.menu__item a:hover {
    color: #7A9E24;
    text-decoration: none;
}
.menu__toggle {
    background: #7A9E24;
    border-radius: 0px;
    box-shadow: none;
    width: 50px;
    height: 40px;
    background: url(../img/svg/menu-m.svg) no-repeat center;
    cursor: pointer;
    /* transition: all 0.5s ease; */

}
.menu__toggle:active,
.menu__toggle:hover {
    background: url(../img/svg/menu-m--.svg) no-repeat center;
}


.about, .price {
    padding: 30px 0 30px 0;
}
.about__title, .price__title{
    margin-bottom: 30px;
}
.about__text{
    margin-top: 50px;
}
.about__img {
width: 100%;
height: 100%;
}

.price {
    background: #EAEDF4;
}
.price__text {
    color: #7A9E24;
}
.price__subtitle {
    margin: 30px;
}
.price__tab{
    margin: 40px ;
    padding: 20px;
    border: 2px solid #c8cfdd;
    border-radius: 10px;
    transition: all 0.5s ease;
    background: #FAFCFE;
}
.price__tab:hover {
    border: 2px solid #7A9E24;
    background: rgba(33, 44, 67, 0.01);

}
.price__tab-center{
    margin: 20px ;
    padding: 20px;
    border: 2px solid rgba(33, 44, 67, 0.8);
}
.price__btn {
    margin: 0 auto;
    margin-top: 30px;
}

.service, .vacancy {
    background: #EAEDF4;
}

.service__title {
    margin: 30px 0px;
}

.service__text {
    text-align: center;
    margin-bottom: 60px;
}


.form-group__title {
    text-align: center;
    margin-bottom: 30px;
}
.form-group {
    margin-bottom: 30px;
}
.form-group-input {
    display: block;
    width: 300px;
    background: #FAFCFE;
    border: 2px solid rgba(33, 44, 67, 0.6);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    margin: 5px auto;
    transition: all 0.5s ease;
}

.form-group input:hover {
    border: 2px solid #7A9E24;
}



.form-check-input + label {
    cursor: pointer;
}

.form-group button {
    margin: 0 auto;
}
.attach {
    margin: 15px 0 15px 30px;
}
.attach a {
    text-decoration: none;
    color:  rgba(33, 44, 67, 0.8);
    font-weight: 600;
    transition: all 0.5s ease;
}
.attach a:hover {
    color: #7A9E24;
}
.attach a:before {
    content: url(../img/svg/attach.svg);
    margin-right: 10px;
}

.form-check-input {
    justify-content: flex-start;
}



.advantages {
    background: #FAFCFE;
    padding: 30px 0 30px 0;
}
.advantages__title {
    text-align: center;
}
.advantages__image {
 position: absolute;
 left: -10px;
 background: #FAFCFE;
 padding: 10px;
}

.advantages__tab {
    margin-top: 40px;
    background: #FAFCFE;
    border: 15px solid #EAEDF4;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 25px 30px 10px 35px;
}
.advantages__text {
    margin-top: 40px;
    text-align: center;
}



.partners {
    background: #EAEDF4;
    padding: 30px 0 30px 0;
}

.partners__title {
    margin-bottom: 40px;
}








.feedback {
    background: #FAFCFE;
    padding: 30px 0 30px 0;
}

.feedback__img {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
}
.glider-prev,
.glider-next {
    display: block;
    width: 30px;
    height: 400px;
    background: none;
    border-radius: 50px;
    border: 0;
    transition: all 0.5s ease;
    box-shadow: none;
}
.glider-prev:hover,
.glider-next:hover {
    background: #FAFCFE
}







.contacts {
    background: no-repeat url(../img/png/streetmap.png) center center;
    padding: 30px 0 30px 0;
    height: 650px;
}

.contacts__title {
    margin-bottom: 30px;
}

.contacts__tab {
    background: #FAFCFE;
    padding: 25px 40px;
    margin-top: 35%;
    border: 2px solid #EAEDF4;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2)
}

.contacts__location:before {
    content: url(../img/svg/location.svg);
    margin-right: 10px;

}

.contacts__phone:before {
    content: url(../img/svg/c-phone.svg);
    margin-right: 10px;
}

.contacts__mail:before {
    content: url(../img/svg/envelope.svg);
    margin-right: 10px;


}



.up__btn{
width: 50px;
height: 50px;
content: url(../img/svg/scrollup.svg);
position: fixed;
right: 30px;
bottom: 30px;
z-index: 1000;
cursor: pointer;
}
.hidden {
    display: none;
}
.visible {
    display: block;
}
.footer__info {
    background: #212C43;
    padding-top: 15px;
}
.footer__menu {
    padding: 10px;
}
.copyright {
    color: #EAEDF4;
    padding: 20px;
    text-align: center;
}


.tab__title {
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
    color: rgba(33, 44, 67, 0.6);
    transition-duration: .5s;
}
.tab__title--active {
    font-weight: bold;
    color: #32343C;
}
.tab__panel {
    padding: 30px;
    width: 500px;
    margin-bottom: 50px;
    margin-left: 100px;
    background: #FAFCFE;
    border: 2px solid rgba(33, 44, 67, 0.6);
    border-radius: 10px;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-duration: 1s;
}
.vacancy__price {
    margin: 20px;
    font-size: 1.6rem;
}
.vacancy__btn {
    margin: 30px auto 0px;
}
.vacancy__title {
    font-size: 1.3rem;
}
.vacancy__subtitle {
    font-style: italic;
    margin: 20px 0 5px 0;
}

/*  */

.modal-login {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 200;
    display: none;
    pointer-events: none;
}


.modal-login:target {
    display: block;
    pointer-events: auto;
}

.modal-login>div {
    width: 400px;
    padding: 40px 25px;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.37);
    text-align: center;
    position: relative;
    margin: 5% auto;
    padding: 20px;
    border-radius: 5px;
}

.modal-login .close {
    float: right;
}

.modal-login h2 {
    font-size: 22px;
    margin: 30px;
}

.modal-login .text,
.modal-login .phone {
    height: 60px;
    width: 275px;
    text-align: center;
    /* font-family: Montserrat; */
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 5px;

    background: #F1F1F1;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25);
}
.modal__btn {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.modal__btn input {
    border: none;
    background: none;
    color: #FAFCFE;
}

/*  */


input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked), 
input[type="radio"]:checked, 
input[type="radio"]:not(:checked) 
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label, 
input[type="radio"]:checked + label, 
input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}
input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 4px;
    top: 5px;
    width: 15px;
    height: 15px;
    border: 1.5px solid rgba(33, 44, 67, 0.4);
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    border-radius: 100%;
}
input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 6.5px;
    top: 9px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 2px solid #7A9E24;
    border-bottom: 2px solid #7A9E24;
    transform: rotate(-45deg);
}

input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #7A9E24;
}
input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after, 
input[type="radio"]:checked + label:after {
    opacity: 1;
}




/*  */
.swiper-container {
    width: 100%;
}
/*  */




@media (max-width: 575px) {
    h3 {
        font-size: 24px
    }
    h4 {
        font-size: 20px;
    }
    p {
        font-size: 14px
    }
    .logo {
        width: 200px;
    }
    .header__info {
        padding-top: 10px;
        }
    .menu__wrapper {
        left: 0;
        width: 100%;
        /* height: 100%; */
        /* display: flex;
        justify-content: space-between; */
        position: absolute;
        z-index: 998;
        background: rgba(33, 44, 67);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0 0 5px 5px;
    }
    .menu__item {
        margin: 30px;
        text-align: end;
    }
    .menu__items {
        display: none;
        z-index: 999;
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
        animation-duration: 1s;
    }
    .menu__items.active {
        display: block;
    }
    .about__text {
        margin-top: 0px;
    }
    .partners__item {
    height: 30px;
    }
    .price__tab, .price__tab-center{
        margin: 0px;
        margin-bottom: 30px;
    }
    .tab__panel {
        padding: 20px;
        width: auto;
        margin-bottom: 30px;
        margin-left: 0px;
    }
    .up__btn {
    display: none;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-duration: 1s;
    }
}

/****** LOADER ******/
#page-preloader { position: fixed; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100%; background: #f1f3f2; z-index: 100500; }

#page-preloader .spinner { display: block; position: absolute; left: 50%; top: 50%; width: 100px; height: 100px; margin-top: -50px; margin-left: -50px; border: 3px solid transparent; border-top-color: #7A9E24; border-radius: 50%; z-index: 1001; -webkit-animation: spin 2.5s infinite linear; animation: spin 2.5s infinite linear; }

#page-preloader .spinner:before, #page-preloader .spinner:after { content: ''; position: absolute; border-radius: 50%; }

#page-preloader .spinner:before { top: 5px; left: 5px; right: 5px; bottom: 5px; border: 3px solid transparent; border-top-color: #32343C; -webkit-animation: spin 2s infinite linear; animation: spin 2s infinite linear; }

#page-preloader .spinner:after { top: 15px; left: 15px; right: 15px; bottom: 15px; border: 3px solid transparent; border-top-color: #9FC033; -webkit-animation: spin 1s infinite linear; animation: spin 1s infinite linear; }

@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0); transform: rotate(0); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@keyframes spin { 0% { -webkit-transform: rotate(0); transform: rotate(0); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
